<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>CrudSkillservlet</display-name>
    <servlet-name>CrudSkillservlet</servlet-name>
    <servlet-class>controller.CrudSkillservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrudSkillservlet</servlet-name>
    <url-pattern>/CrudSkillservlet</url-pattern>
  </servlet-mapping>
  <display-name>Référentiel_de_compétences</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Skillupdatesevlet</display-name>
    <servlet-name>Skillupdatesevlet</servlet-name>
    <servlet-class>controller.Skillupdatesevlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Skillupdatesevlet</servlet-name>
    <url-pattern>/Skillupdatesevlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSkillservlet</display-name>
    <servlet-name>AddSkillservlet</servlet-name>
    <servlet-class>controller.AddSkillservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSkillservlet</servlet-name>
    <url-pattern>/AddSkillservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Skillupdateservlet</display-name>
    <servlet-name>Skillupdateservlet</servlet-name>
    <servlet-class>controller.Skillupdateservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Skillupdateservlet</servlet-name>
    <url-pattern>/Skillupdateservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CrudCategorieservlet</display-name>
    <servlet-name>CrudCategorieservlet</servlet-name>
    <servlet-class>controller.CrudCategorieservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrudCategorieservlet</servlet-name>
    <url-pattern>/CrudCategorieservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCategorieservlet</display-name>
    <servlet-name>AddCategorieservlet</servlet-name>
    <servlet-class>controller.AddCategorieservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCategorieservlet</servlet-name>
    <url-pattern>/AddCategorieservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Categorieupdateservlet</display-name>
    <servlet-name>Categorieupdateservlet</servlet-name>
    <servlet-class>controller.Categorieupdateservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Categorieupdateservlet</servlet-name>
    <url-pattern>/Categorieupdateservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProfilservlet</display-name>
    <servlet-name>AddProfilservlet</servlet-name>
    <servlet-class>controller.AddProfilservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProfilservlet</servlet-name>
    <url-pattern>/AddProfilservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CrudProfilservlet</display-name>
    <servlet-name>CrudProfilservlet</servlet-name>
    <servlet-class>controller.CrudProfilservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrudProfilservlet</servlet-name>
    <url-pattern>/CrudProfilservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Profilupdateservlet</display-name>
    <servlet-name>Profilupdateservlet</servlet-name>
    <servlet-class>controller.Profilupdateservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Profilupdateservlet</servlet-name>
    <url-pattern>/Profilupdateservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSkillToProfileServlet</display-name>
    <servlet-name>AddSkillToProfileServlet</servlet-name>
    <servlet-class>controller.AddSkillToProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSkillToProfileServlet</servlet-name>
    <url-pattern>/AddSkillToProfileServlet</url-pattern>
  </servlet-mapping>
</web-app>